<div class="wrapper">
	<div class="container-fluid">
		<div class="content">
			<h3>Change your password</h3>
		</div>

		<div class="infomation">
			<form class="info">
				<div>
					<input
						formControlName="password"
						type="password"
						placeholder="Enter old password"
					/>
				</div>

				<div>
					<input
						formControlName="Enter new password"
						type="password"
						placeholder="Re-enter password"
					/>
				</div>

                <div>
					<input
						formControlName="Re-enter new password"
						type="password"
						placeholder="Re-enter password"
					/>
				</div>

				<a routerLink="/change-password-confirm" class="btn-danger w-full">Save</a>
			</form>
		</div>
	</div>
</div>
