.wrapper {
	@apply p-2 h-screen overflow-auto;
	font-family: 'Roboto';
}

.container-fluid {
	@apply mx-auto bg-[#fbcfe8] rounded-md p-2  w-full;
}

.content {
	@apply p-10 text-center text-[#be123c];
	h3 {
		@apply text-2xl;
	}
}

.infomation {
	@apply bg-[#fbcfe8] rounded-3xl;
}

.info {
	@apply p-3 md:w-1/2 md:p-10 mb-2 mx-auto;
}

.info {
	@apply flex flex-col justify-center;

	div {
		@apply mb-3;
	}

	div input {
		@apply border-none outline-none px-4 py-2 rounded-md w-full;
		transition: all 100ms ease;
		box-shadow: 0px 0px 1px 1px #e11d48;

		&:focus {
			box-shadow: 0px 0px 3px 2px #e11d48;
		}
	}

	div small {
		@apply text-red-600;
	}
}
