<div class="wrapper">
	<div class="custom-container">
		<div class="login-container">
			<div class="logo">
				<img width="250" src="/assets/logo.png" alt="" />
			</div>

			<form [formGroup]="loginGormGroup" class="info">
				<!-- error message -->
				<div class="error-message">
					<ul>
						@for (err of errorMessages; track $index) {
						<li>{{ err }}</li>
						}
					</ul>
				</div>

				<div class="">
					@if (submitted === true && loginGormGroup.hasError("email","email")) {
					<small> *Email is incorrect </small>
					} @if (submitted === true && loginGormGroup.hasError("required","email")) {
					<small> *Email is required </small>
					}
					<input formControlName="email" class="input" type="text" placeholder="email" />
				</div>

				<div class="">
					@if (submitted === true && loginGormGroup.hasError("required","password")) {
					<small> *Password is required </small>
					}
					<input
						formControlName="password"
						class="input"
						type="password"
						placeholder="password"
					/>
				</div>

				<button (click)="onLogin()" class="btn-danger w-full">Login</button>

				<div class="other-info">
					<a routerLink="/register">Create new account</a>
					<a routerLink="/forgot-password">Forgot password</a>
				</div>
			</form>
		</div>
	</div>
</div>
