<div class="wrapper">
	<div class="container">
		<!-- /search -->
		<div class="search">
			<div class="input-group">
				<input [(ngModel)]="searchString" (keydown.enter)="onEnter()" type="text" />
			</div>
		</div>

		<!-- result -->
		<div class="result">
			<div class="items">
                @for (fr of friends; track $index) {
                    <div class="item">
                        <a href="#" class="content">
    
                            <div class="avatar">
                                <img src="/assets/no-avatar.png" alt="" />
                            </div>
        
                            <div class="name">
                                <span>{{fr.fullName}}</span>
                            </div>  
                        </a>
    
                        <div class="action">
                            <button class="btn-default">Thêm bạn</button>
                        </div>
                    </div>
                }
			</div>
		</div>
	</div>
</div>
