<div class="wrapper">
	<div class="container-fluid">
		<div class="controls">
			<a title="Chats" routerLink="/chat/conversations" routerLinkActive="avtivated" class="btn-control">
				<img src="/assets/icons/message-solid.svg" alt="" />
			</a>

			<a title="Groups" routerLink="/chat/groups" routerLinkActive="avtivated" class="btn-control">
				<img src="/assets/icons/user-group-solid.svg" alt="" />
			</a>

			<a title="Chats" routerLink="/chat/search" routerLinkActive="avtivated" class="btn-control">
				<img src="/assets/icons/magnifying-glass-solid.svg" alt="" />
			</a>

			<a title="Groups" routerLink="/chat/notices" routerLinkActive="avtivated" class="btn-control">
				<img src="/assets/icons/bell-solid.svg" alt="" />
			</a>

		</div>
	</div>

	<div class="setting">
		<a title="Settings" routerLinkActive="avtivated" routerLink="/chat/settings" class="btn-control">
			<img src="/assets/icons/gear-solid.svg" alt="" />
		</a>
	</div>
</div>
