@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {

    // chat
	--bg-side-bar: #be123c;
	--hover-filter-icon-setting: brightness(0) saturate(100%) invert(7%) sepia(41%) saturate(6596%)
		hue-rotate(332deg) brightness(96%) contrast(104%);

	// profile setting
	--text-profile-setting: #be123c;
	--bg-profile-setting: #fbcfe8;

	// login
	--bg-wrapper-login: #fbcfe8;
	--box-shadow-login-container: #e11d48;
	--text-error-login: #ef4444;
	--box-shadow-input-login: #e11d48;
	--text-other: #3b82f6;
	--text-hover-other: #4338ca;

	// menu-chat
	--box-shadow-menu-chat: #e11d48;
	--logo-name-menu-chat: #e11d48;
	--menu-item-hover: brightness(0) saturate(100%) invert(64%) sepia(8%) saturate(4595%) hue-rotate(316deg) brightness(107%) contrast(95%);;

	// chat home
	--text-color-chat-home: #e11d48;
	--bg-create-room-chat-home: rgba(225, 29, 72, 0.2);
	--bg-panel-create-chat-room: #fef2f2;

	// message box
	

}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	user-select: none;
}

html, body {
	height: 100vh;
  width: 100vw;
}

.btn-default {
	@apply bg-white text-black px-4 py-2 rounded-md hover:bg-gray-700 hover:text-white duration-100 block text-center;
}

.btn-primary {
	@apply bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 duration-100 block text-center;
}

.btn-outline-primary {
	@apply border-2 border-blue-600 text-blue-600 px-4 py-2 rounded-md hover:bg-blue-700 hover:text-white duration-100 block text-center;
}

.btn-danger {
	@apply bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700 duration-100 block text-center;
}

.btn-outline-danger {
	@apply border-2 border-red-600 text-red-600 px-4 py-2 rounded-md hover:bg-red-700 hover:text-white duration-100 block text-center;
}

.btn-success {
	@apply bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 duration-100 block text-center;
}

.btn-outline-success {
	@apply border-2 border-green-600 text-green-600 px-4 py-2 rounded-md hover:bg-green-700 hover:text-white duration-100 block text-center;
}

.input-control {
	@apply border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-600 block text-center;
}
