.wrapper {
	// @apply bg-red-400;
	height: 100vh;
	overflow: auto;
}

.container-fluid {
	@apply flex h-full;
}

.chatbox {
	@apply h-full;
	width: 200px !important;
	padding: 5px;
	overflow-y: scroll;
	box-shadow: 1px 0px 1px 1px #f43f5e;

	.box {
		@apply block rounded-md p-1 w-full flex items-center gap-2 justify-start;
		height: 50px;
		transition: all 100ms ease;

		&:hover {
			@apply bg-[#f9a8d4];
		}
	}

	.box .name {
		@apply text-lg select-none;
		overflow: hidden;
		text-wrap: nowrap;
		text-overflow: ellipsis;
	}

	.box .avatar {
		background-image: url('/assets/no-avatar.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: cover;
		min-width: 50px;
		min-height: 50px;
	}
}

.messsage-container {
	@apply p-1 h-full w-full flex flex-col justify-between;
	flex: 1;

	.control {
		@apply p-2 flex justify-between items-center bg-[#f43f5e];
		// box-shadow: 0px 1px 1px 1px #f43f5e;
		.boxName {
			@apply font-medium text-xl text-white;
		}

		.option {
			@apply p-1 rounded-full duration-75 cursor-pointer;
			width: 30px;

			&:hover {
				// background-color: #f43f5e;
			}
		}
	}

	.messsages {
		@apply h-full overflow-auto;

		.mesage-group {
			@apply flex items-start justify-start gap-2 rounded-md p-3 m-3;
			box-shadow: 0px 0px 1px 1px #f43f5e;
		}

		.mesage-group .avatar {
			background-image: url('/assets/no-avatar.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			min-width: 40px;
			min-height: 40px;
		}

		.mesage-group span {
			
		}

	}

	.box-sending {
		@apply flex gap-2 items-center justify-between p-1 bg-[#f43f5e] rounded-md;
		height: 50px;

		.input-group {
			width: 100%;
		}

		.input-group input {
			@apply p-2 rounded-md outline-none border-none;
			width: 100%;
			box-shadow: 0px 0px 1px 1px #e11d48;
		}

		.send-btn {
			@apply mx-2;
			background-image: url('/assets/icons/paper-plane-solid.svg');
			background-position: center;
			background-repeat: no-repeat;
			// background-size: cover;
			// object-fit: cover;
			min-width: 20px;
			min-height: 20px;
			transition: all 100ms ease;

			&:hover {
				@apply cursor-pointer;
				filter: brightness(0) saturate(100%) invert(7%) sepia(60%) saturate(6329%)
					hue-rotate(338deg) brightness(100%) contrast(97%);
			}
		}
	}
}
