<div class="wrapper">
	<div class="container-fluid">
		<div class="chatbox">
			<button class="box">
				<div class="avatar"></div>
				<div class="name"><span>C12</span></div>
			</button>

			<button class="box">
				<div class="avatar"></div>
				<div class="name"><span>Nhóm lớp đại học</span></div>
			</button>
		</div>

		<div class="messsage-container">
			<div class="control">
				<div class="boxName">Nhóm lớp đại học</div>
				<div class="option">
					<img src="/assets/icons/ellipsis-solid.svg" alt="" />
				</div>
			</div>

			<div class="messsages">
				<div class="mesage-group">
					<div class="avatar"></div>
					<span
						>Suscipit aut totam qui accusantium. Id adipisci quia molestias. Dolores et
						ullam illum magni. Aliquam aut inventore. Incidunt occaecati itaque pariatur
						odio. Aut est occaecati quo amet totam necessitatibus harum numquam. Quam
						omnis dignissimos. Vero voluptates similique fuga est aliquid fuga ea est.
						Quam commodi aut excepturi et. Et dolor nihil. Et atque voluptatem qui
						dolore nesciunt eaque animi voluptatem quam. Blanditiis dolor cumque quam
						neque dolorem corrupti dolor rerum. Molestias nisi corrupti et atque
						praesentium beatae placeat. Est omnis et soluta quo esse. Quis temporibus
						odio velit consequatur fuga aut vel mollitia quis.</span
					>
				</div>

				<!-- <div class="mesage-group">
					<span
						>Suscipit aut totam qui accusantium. Id adipisci quia molestias. Dolores et
						ullam illum magni. Aliquam aut inventore. Incidunt occaecati itaque pariatur
						odio. Aut est occaecati quo amet totam necessitatibus harum numquam. Quam
						omnis dignissimos. Vero voluptates similique fuga est aliquid fuga ea est.
						Quam commodi aut excepturi et. Et dolor nihil. Et atque voluptatem qui
						dolore nesciunt eaque animi voluptatem quam. Blanditiis dolor cumque quam
						neque dolorem corrupti dolor rerum. Molestias nisi corrupti et atque
						praesentium beatae placeat. Est omnis et soluta quo esse. Quis temporibus
						odio velit consequatur fuga aut vel mollitia quis.</span
					>
					<div class="avatar"></div>
				</div> -->
                
			</div>

			<div class="box-sending">
				<div class="input-group">
					<input type="text" />
				</div>

				<div class="send-btn"></div>
			</div>
		</div>
	</div>
</div>
