<div class="wrapper">
	<app-header-signedout></app-header-signedout>

	<div class="container-fluid">
		<div class="forgot-password">
			<h1>Find your account</h1>
            <hr>
			<p>Please enter your email address or mobile number to search for your account.</p>
			<div class="form-group">
				<input type="text" placeholder="Enter your email" />
			</div>

			<div class="control">
				<a class="btn-danger" routerLink="/login">Cancel</a>
				<a routerLink="/change-password-confirm" class="btn-primary">Search</a>
			</div>
		</div>
	</div>
</div>
