.wrapper {
    @apply h-screen;
	font-family: 'Roboto', sans-serif;
}

.container-fluid {
	@apply flex justify-center items-center;
}

.forgot-password {
	@apply bg-[#ffe4e6] rounded-md my-5 p-5;
    box-shadow:  0px 0px 4px 1px #e11d48;

    h1 {
        @apply text-3xl mb-3;
    }

    p {
        @apply font-normal my-3;
    }

    div {
        @apply my-3;
    }

    div input {
        @apply p-4 outline-none border-none rounded-md w-full;
        transition: all 100ms ease;
        box-shadow: 0px 0px 1px 1px #e11d48;
        
        &:focus {
            box-shadow: 0px 0px 3px 2px #e11d48;
        }
    }

    .control {
        @apply flex justify-end items-center gap-2;
    }

}
