<div class="wrapper">
	<div class="container-fluid">
		<div class="setting">

			<a routerLink="/chat/settings/profile" routerLinkActive="activated" class="setting-group">
				<img src="/assets/icons/user-solid.svg" class="icon" alt="">
				<div class="setting-name"><span>Profile</span></div>
			</a>

			<a routerLink="/chat/settings/language" routerLinkActive="activated" class="setting-group">
				<img src="/assets/icons/language-solid.svg" class="icon" alt="">
				<div class="setting-name"><span>Language</span></div>
			</a>

			<a routerLink="/chat/settings/change-password" routerLinkActive="activated" class="setting-group">
				<img src="/assets/icons/language-solid.svg" class="icon" alt="">
				<div class="setting-name"><span>Change password</span></div>
			</a>

			<button class="setting-group">
				<img src="/assets/icons/right-from-bracket-solid.svg" class="icon" alt="">
				<div class="setting-name"><span>Logout</span></div>
			</button>
		</div>

		<div class="messsage-container">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
