.wrapper {
	@apply flex items-center;
	overflow: auto;
	font-family: 'Roboto';
	min-height: 100vh;
}

.container {
	@apply mx-auto bg-[#fbcfe8] rounded-3xl w-full mx-10;
}

.content {
	@apply p-10 text-center text-[#be123c];
	h3 {
		@apply text-4xl;
	}
}


.infomation {
	@apply flex mx-auto flex-wrap flex-col md:flex-row bg-[#fbcfe8] rounded-3xl ;
}

.avatar,
.info {
	@apply p-3 md:w-1/2 md:p-10 mb-2;
}

.avatar {
	div {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 250px;
		border-radius: 999px;
	}
}

.info {
	@apply flex flex-col justify-center;

	div {
		@apply mb-3;
	}

	div input {
		@apply border-none outline-none px-4 py-2 rounded-md w-full;
		transition: all 100ms ease;
		box-shadow: 0px 0px 1px 1px #e11d48;

		&:focus {
			box-shadow: 0px 0px 3px 2px #e11d48;
		}
	}

	div small {
		@apply text-red-600;
	}

	.error-message {
		@apply text-red-500;
	}
}
